.center-text {
  text-align: center;
}

body {
  background-color: #000080;
}
a {
  color: black;
}
ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

.heading {
  border: 1px black;
  background-color: grey;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  border: 10px groove green;
}

.list-box {
  margin-left: auto;
  margin-right: auto;
  border: 10px ridge black;
  padding: 1em;
  max-width: 300px;
  height: fit-content;
  background-color: green;
}

.font {
  font-family: "Courier New", sans-serif;
}
.thumbnail {
  display: inline-block;
  height: 200px;
  width: 300px;
  margin: 5px;
}
